{% extends 'layout-admin.html' %}

{% block title %}ziroom | 管理员{% endblock %}

{% block header %}
{% parent %}
{% endblock %}

{% block sign %}
{% parent %}
{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="cloud">
    <img src="images/cloud1.png" class="cloud1">
    <img src="images/cloud2.png" class="cloud2">
    <img src="images/cloud3.png" class="cloud3">
  </div>
  <div class="main-container container-fluid">
    <div class="row-fulid clearfix">
      <div class="col-lg-2 sidebar">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-stacked left-nav-tabs" role="tablist">
          <li role="presentation" class="left-nav"><a href="/admin-user">会员信息管理</a></li>
          <li role="presentation" class="left-nav"><a href="/admin-worker">家政人员信息管理</a></li>
          <li role="presentation" class="left-nav"><a href="/admin-admin">管理员信息管理</a></li>
          <li role="presentation" class="left-nav"><a href="/admin-serviceType">服务类型信息管理</a></li>
          <li role="presentation" class="left-nav"><a href="/admin-service">服务信息管理</a></li>
          <li role="presentation" class="left-nav-active active"><a href="/admin-order">订单信息管理</a></li>
          <li role="presentation" class="left-nav"><a href="/admin-comment">评价信息管理</a></li>
        </ul>
      </div>  
      <div class="col-lg-10 right-tab-content clearfix">
        <div class="tab-content">
          <div id="orders">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation"><a href="/admin-order">未受理订单</a></li>
              <li role="presentation"><a href="/accept-order">已受理订单</a></li>
              <li role="presentation" class="active"><a href="/finished-order">已完成订单</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="new-order">
                <!-- 此处是未受理订单的列表 -->
                <table id="DataTable" data-datatable width="100%"class="table table-striped table-bordered" cellspacing="0">
                  <thead>
                    <tr>
                      <th>订单编号</th>
                      <th>用户姓名</th>
                      <th>服务名称</th>
                      <th>家政人员姓名</th>
                      <th>服务状态</th>
                      <th>预约时间</th>
                      <td>操作</td>
                    </tr>
                  </thead>
                  <tbody>
                    {% for x in acceptData %}
                    <tr>   
                      <td>{{x.id}}</td>
                      <td>{{x.user_id.name}}</td>
                      <td>{{x.service_id.name}}</td>
                      {% if x.worker_id=='None' %}
                        <td class="importent">未分配</td>
                      {% else %}
                        <td>{{x.worker_id.name}}</td>
                      {% endif %}
                      {% if x.status==1 %}
                        <td class="importent">未受理</td>
                      {% endif %}
                      {% if x.status==2||x.status==3 %}
                        <td class="enable">已受理</td>
                      {% endif %}
                      {% if x.status==4 %}
                        <td class="enable">已完成</td>
                      {% endif %}
                      <td>{{x.book_time}}</td>
                      <td>
                        <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-whatever={{x.id}} data-target="#checkout">查看详情</button>
                        <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-whatever={{x.id}} data-target="#update">修改</button>
                        <button type="button" class="btn btn-danger btn-xs delete"data-whatever={{x.id}}>删除</button>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>  
  </div>
</div>
{% endblock %}

{% block action %}
  {% block showDetail %}
  <div class="modal fade" id="checkout">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">查看详情</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">订单编号<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="id" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">用户编号<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="user_id" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">用户姓名<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="user_name" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">服务编号<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="service_id" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">服务名称<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="service_name" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">家政人员编号</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="worker_id" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">家政人员姓名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="worker_name" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">服务地址<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="service_address" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">订单状态<span class="importent">*</span></label>
              <div class="col-sm-10">
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="1" readonly />已下单
                  </label>
                </div>
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="2" readonly/>已受理
                  </label>
                </div>
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="3" readonly/>进行中
                  </label>
                </div>
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="4" readonly/>已完成
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">特殊要求</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="demand" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">评价<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="comment" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">预约时间<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="book_time" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">下单时间<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="order_time" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">受理时间</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="accept_time" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">完成时间</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="finish_time" readonly>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block update %}
  <div class="modal fade" id="update">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">修改信息</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">订单编号<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="id">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">用户编号<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="user_id">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">用户姓名<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="user_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">服务编号<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="service_id">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">服务名称<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="service_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">家政人员编号</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="worker_id">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">家政人员姓名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="worker_name">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">服务地址<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="service_address">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">订单状态<span class="importent">*</span></label>
              <div class="col-sm-10">
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="1" />已下单
                  </label>
                </div>
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="2" />已受理
                  </label>
                </div>
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="3" />进行中
                  </label>
                </div>
                <div class="col-sm-3 radio">
                  <label>
                    <input type="radio" class="status" name="status" value="4" />已完成
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">特殊要求</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="demand">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">评价<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="comment">
              </div>
            </div>
            <div class="form-group">
              <label for="service-data" class="col-sm-2 control-label">预约服务日期<span class="importent">*</span></label>
              <div class="col-sm-10">
                <input id="book_time" class="form-control" type="text"/>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="update-submit">确定</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="accept">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">受理订单</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 control-label">家政人员</label>
              <div class="col-sm-10">
                <select id="worker" class="form-control">
                  
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="accept-submit">受理</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block add %}
  <div class="modal fade" id="update">
  </div>
  {% endblock %}
{% endblock %}

{% block footer %}
{% parent %}
  {% block script %}
    {% parent %}
    <script type="text/javascript" src="js/admin.js"></script>
    <script type="text/javascript" src="js/admin_order.js"></script>
  {% endblock %}
{% endblock %}
