{% extends 'layout.html' %}

{% block title %}ziroom{% endblock %}
{% block link %}
  {% parent %}
  <link rel="stylesheet" type="text/css" href="css/style.css">
{% endblock %}
{% block header %}
  <div class="mycarousel">
    {% parent %}
    {% block carousel %}
      <div id="carousel-example-generic" class="carousel slide" datd-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="images/big-pic.jpg" alt="first">
          </div>
          <div class="item">
            <img src="images/big-pic2.jpg" alt="second">
          </div>
          <div class="item">
            <img src="images/big-pic3.jpg" alt="thrid">
          </div>
        </div>
        <div class="headlines">
          <h2>欢迎使用</h2>
          <p>ziroom会给您提供独一无二的家政服务</p>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
      </div>
    {% endblock %}
  </div>
{% endblock %}

{% block content %}
  <div class="content">
    <div class="main-container main-container-index service container-fluid">
      <div class="main-title">
        <h2 class="main-tit">服&nbsp;务</h2>
        <p class="mian-describe">您的舒适是我们最大的幸福</p>
      </div>
    </div>
  </div>
{% endblock %}
{% block footer %}
  {% parent %}
  {% block script%}
    {% parent %}
    <script type="text/javascript">
      $(function(){
        $.ajax({
          url:"http://127.0.0.1:8081/service",
          type:"POST",
          data:{
            method:"query",
            type:"category"
          },
          success:function(data){
            console.log("service_type",data,data.data.length);
            for (var i=0,len=data.data.length;i<len;i++){
              $('<div class="col-md-4 col-sm-6">'+
                  '<div class="thumbnail">'+
                    '<img src="'+data.data[i].image_url+'" />'+
                    '<div class="caption">'+
                      '<h3>'+data.data[i].name+'</h3>'+
                      '<p>'+data.data[i].comment+'</p>'+
                      '<p><a href="/serviceDetail#'+data.data[i].id+'" class="btn btn-warning" role="button">预约</a></p>'+
                    '</div>'+
                  '</div>'+
                '</div>').appendTo($('.service'));
            }
            
          },
          error:function(data){
            console.log("error");
          }
        });
      });
    </script>
  {% endblock %}
{% endblock%}
