{% extends 'layout.html' %}

{% block title %}ziroom | 服务详情{% endblock %}
{% block link %}
  {% parent %}
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-datepicker3.css">
{% endblock %}
{% block header %}
<div class="default-nav">
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-default">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">
          <img src="images/logo-orange.png" alt="ziroom">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-default">
        <ul class="nav navbar-nav navbar-right" style="display: block">
            <li class="signup" data-toggle="modal" data-target="#signup">注册</li>
            <li class="signin" data-toggle="modal" data-target="#signin">登录</li>
          </ul>
          <div class="nav navbar-nav navbar-right" style="display: none">
            <img class="image_url" src="" alt="photo" />
            <a class="name"></a>
            <span>|</span>
            <a href="/" id="quit">退出</a>
          </div>
      </div>
    </div>
  </nav>
  {% endblock %}
</div>
{% endblock %}

{% block sign %}
  {% parent %}
{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="cloud">
    <img src="images/cloud1.png" class="cloud1">
    <img src="images/cloud2.png" class="cloud2">
    <img src="images/cloud3.png" class="cloud3">
  </div>
  <div class="main-container container-fluid">
    <div class="row-fulid clearfix">
      <div class="col-lg-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-stacked left-nav-tabs" role="tablist">
        </ul>
      </div>  
      <div class="col-lg-10 right-tab-content clearfix">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="service">
            <div class="page-header">
              <h2></h2>
            </div>
            <form class="form-horizontal clearfix">
              <div class="form-group">
                <label for="service-options" class="col-sm-2 control-label">项目选择<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <select id="service-options" class="form-control">
                    
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">详细说明</label>
                <div class="col-sm-10">
                  <p id="service-comment" class="form-control-static">适用于家具表面的日常精品保洁，预计打扫1个小时</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">价格</label>
                <div class="col-sm-10">
                  <p id="service-price" class="form-control-static orange">￥<span>60</span></p>
                </div>
              </div>
              <div class="form-group">
                <label for="service-data" class="col-sm-2 control-label">上门服务日期<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <input id="service-data" data-date-format="yyyy-mm-dd" class="form-control" type="text"/>
                </div>
              </div>
              <div class="form-group">
                <label for="service-time" class="col-sm-2 control-label">上门服务时间<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <select id="service-time" class="form-control">
                    <option>上午 (09:00-12:00)</option>
                    <option>下午 (14:00-17:00)</option>
                    <option>晚上 (18:00-20:00)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="service-phone" class="col-sm-2 control-label">联系电话<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <input id="service-phone" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="service-address" class="col-sm-2 control-label">地址<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <textarea id="service-address" class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="service-need" class="col-sm-2 control-label">特殊需求</label>
                <div class="col-sm-10">
                  <textarea id="service-need" class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="over-right">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    使用账号余额：￥<span id="balance">0.00</span>
                  </label>
                </div>
                <div class="real-money">实付金额：￥<span>0.00</span></div>
                <button id="submit" type="button" class="btn btn-warning">提交订单</button>
              </div>
            </form>      
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="bottom-flower">
  </div>
</div>
{% endblock %}
{% block footer %}
  {% parent %}
  {% block script %}
    {% parent %}
    <script type="text/javascript" src="js/vendor/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/vendor/datepicker.js"></script>
    <script type="text/javascript">
      $(function(){
        function toDou(iNum){
          return iNum<10?'0'+iNum:''+iNum;
        }
        //日期格式化函数
        Date.prototype.Format = function (fmt) { //author: meizz 
          var o = {
              "M+": this.getMonth() + 1, //月份 
              "d+": this.getDate(), //日 
              "h+": this.getHours(), //小时 
              "m+": this.getMinutes(), //分 
              "s+": this.getSeconds(), //秒 
              "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
              "S": this.getMilliseconds() //毫秒 
          };
          if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
          for (var k in o)
          if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
          return fmt;
        }

        $('#service-data').val(new Date().Format("yyyy-MM-dd"));
        var target = window.location.href.split('#').pop();
        /*页面初加载，获取service——type,创建左侧导航栏*/
        $.ajax({
          url:'http://127.0.0.1:8081/service',
          type:"POST",
          data:{
            method:"query",
            type:"category"
          },
          success:function(data){
            var _this;
            for (var i=0,len=data.data.length;i<len;i++){
              $('<li role="presentation" class="'+(data.data[i].id==target?'left-nav-active active':'left-nav')+'" data-comment="'+data.data[i].comment+'" data-id="'+data.data[i].id+'"><a href="#service'+data.data[i].id+'" role="tab" data-toggle="tab">'+data.data[i].name+'</a></li>').appendTo($('ul.left-nav-tabs'));
                if(data.data[i].id==target){
                _this=i;
              }
            }  
            $('#service > .page-header > h2').html(data.data[_this].name+'<small>——'+data.data[_this].comment+'</small>');
            if(target==3){
              $('.checkbox').hide();
              $('.real-money').hide();
            }
            //选项卡
            $('li[role="presentation"]').each(function(item,index){
              $(this).on('click',function(){
                $('#service > .page-header > h2').html($(this).text()+'<small>——'+$(this).attr('data-comment')+'</small>');
                if($(this).attr('data-id')==3){
                  $('.checkbox').hide();
                  $('.real-money').hide();
                }else{
                  $('.checkbox').show();
                  $('.real-money').show();
                }
                $.ajax({
                  url:'http://127.0.0.1:8081/service',
                  type:"POST",
                  data:{
                    method:"query",
                    type:"service",
                    type_id:$(this).attr('data-id')
                  },
                  success:function(data){
                    $('#service-options > option').remove();
                    data.data.map(function(item){
                      $('<option data-sid="'+item.id+'">'+item.name+'</option>').appendTo('#service-options');
                    });
                    $('#service-comment').text(data.data[0].comment);
                    $('#service-price > span').text(data.data[0].price);
                    $('.real-money span').text(parseFloat($('#service-price span').text()));
                  },error:function(data){
                    console.log(err);
                  }
                });
              });
            });
            /*页面初加载，获取service*/
            $.ajax({
              url:'http://127.0.0.1:8081/service',
              type:"POST",
              data:{
                method:"query",
                type:"service",
                type_id:target
              },
              success:function(data){
                data.data.map(function(item){
                  $('<option data-sid="'+item.id+'">'+item.name+'</option>').appendTo('#service-options');
                });
                $('#service-comment').text(data.data[0].comment);
                $('#service-price > span').text(data.data[0].price);
                $('.real-money span').html(parseFloat($('#service-price span').html()));
                $('#service-phone').val($.cookie('phone'));
                $('#service-address').val($.cookie('address'));
                $('#balance').val($.cookie('balance'));   
              },error:function(data){
                console.log(err);
              }
            });
            
          },
          error:function(data){
            console.log("error");
          }
        });
        /*select框改变时获取service*/
        $('#service-options').on('change',function(){
          $.ajax({
            url:'http://127.0.0.1:8081/service',
            type:"POST",
            data:{
              method:"query",
              type:"service",
              name:$.trim($('#service-options').val())
            },
            success:function(data){
              $('#service-comment').html(data.data[0].comment);
              $('#service-price span').html(data.data[0].price);
              $('.real-money span').text(parseFloat($('#service-price span').text()));
            }
          });
        })
        $('input:checkbox').on('click',function(){
          if(this.checked){
            $('.real-money span').text(parseFloat($('#service-price > span').text())-parseFloat($('#balance').val()));
          }else{
            $('.real-money span').text(parseFloat($('#service-price span').text()));
          }
        });
        
        $('ul.tablist li').on('click',function(){

        });

        //提交订单
        $('#submit').on('click',function(){
          var dataList={
            user_id:$.cookie('uid'),
            service_id: $('#service-options > option:selected').attr('data-sid'),
            service_address:$('#service-address').text(),
            demand:$('service-need').text,
            book_time:$('#service-data').val()+$('#service-time').val(),
            order_time:new Date().Format("yyyy-MM-dd hh:mm:ss")
          }
          $.ajax({
            url:"http://127.0.0.1:8081/order",
            type:"post",
            data:{
              method:"insert",
              data:JSON.stringify([dataList]),
              token:$.cookie('key')
            },
            success:function(data){
              if(data.result){
                alert('提交成功,请等待服务人员与您联系！');
              }else{
                alert('提交失败！');
              }
            },
            error:function(data){
              console.log(data);
            }
          });
        });
      })
    </script>
  {% endblock %}
{% endblock %}
