{% extends 'layout.html' %}

{% block title %}ziroom | 服务详情{% endblock %}
{% block link %}
  {% parent %}
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-datepicker3.css">
{% endblock %}
{% block header %}
<div class="default-nav">
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-default">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">
          <img src="images/logo-orange.png" alt="ziroom">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-default">
        <ul class="nav navbar-nav navbar-right">
          <li class="signin" data-toggle="modal" data-target="#sigin">注册</li>
          <li class="login" data-toggle="modal" data-target="#login">登录</li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
</div>
{% endblock %}

{% block content %}
<div class="content clearfix">
  <div class="cloud">
    <img src="images/cloud1.png" class="cloud1">
    <img src="images/cloud2.png" class="cloud2">
    <img src="images/cloud3.png" class="cloud3">
  </div>
  <div class="main-container container-fluid">
    <div class="row-fulid clearfix">
      <div class="col-lg-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-stacked left-nav-tabs" role="tablist">
        </ul>
      </div>  
      <div class="col-lg-10 right-tab-content clearfix">
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="clean">
            <div class="page-header">
              <h2>保洁预约<small>——质量三天不满意，无条件返工</small></h2>
            </div>
            <!-- <p>服务项目选择：</p> -->
            <form class="form-horizontal clearfix">
              <div class="form-group">
                <label for="service-options" class="col-sm-2 control-label">保洁项目选择<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <select id="service-options" class="form-control">
                    <option>日常保洁</option>
                    <option>深度保洁</option>
                    <option>开荒保洁</option>
                    <option>消杀保洁</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">详细说明</label>
                <div class="col-sm-10">
                  <p class="form-control-static">适用于家具表面的日常精品保洁，预计打扫1个小时</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">价格</label>
                <div class="col-sm-10">
                  <p class="form-control-static orange">￥60</p>
                </div>
              </div>
              <div class="form-group">
                <label for="service-data" class="col-sm-2 control-label">上门服务日期<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <input id="service-data"data-date-format="yyyy-mm-dd" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="service-time" class="col-sm-2 control-label">上门服务时间<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <select id="service-time" class="form-control">
                    <option>上午 (09:00-12:00)</option>
                    <option>下午 (14:00-17:00)</option>
                    <option>晚上 (18:00-20:00)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="service-phone" class="col-sm-2 control-label">联系电话<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <input id="service-phone" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="service-address" class="col-sm-2 control-label">地址<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <textarea id="service-address" class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="service-need" class="col-sm-2 control-label">特殊需求</label>
                <div class="col-sm-10">
                  <textarea id="service-need" class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="over-right">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    使用账号余额：￥<span>0.00</span>
                  </label>
                </div>
                <div class="real-money">实付金额：￥<span>0.00</span></div>
                <button class="btn btn-warning">提交订单</button>
              </div>
            </form>      
          </div>
          <div role="tabpanel" class="tab-pane" id="maintain">
            <div class="page-header">
              <h2>日常维修<small>——便捷、及时、专业，为生活保驾护航</small></h2>
            </div>
            <!-- <p>服务项目选择：</p> -->
            <form class="form-horizontal clearfix">
              <div class="form-group">
                <label for="maintain-options" class="col-sm-2 control-label">维修项目选择<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <select id="maintain-options" class="form-control">
                    <option>水暖维修</option>
                    <option>电器维修</option>
                    <option>锁类维修</option>
                    <option>电路维修</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">详细说明</label>
                <div class="col-sm-10">
                  <p class="form-control-static">水管爆裂漏水不出水问题，及暖气片漏水不热等问题</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">价格</label>
                <div class="col-sm-10">
                  <p class="form-control-static orange">￥30（仅基本价格）</p>
                </div>
              </div>
              <div class="form-group">
                <label for="maintain-data" class="col-sm-2 control-label">上门服务日期<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <input id="maintain-data"data-date-format="yyyy-mm-dd" class="form-control" />
                </div>
              </div>
              <div class="form-group">
                <label for="maintain-time" class="col-sm-2 control-label">上门服务时间<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <select id="maintain-time" class="form-control">
                    <option>上午 (09:00-12:00)</option>
                    <option>下午 (14:00-17:00)</option>
                    <option>晚上 (18:00-20:00)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="maintain-phone" class="col-sm-2 control-label">联系电话<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <input id="maintain-phone" class="form-control"/>
                </div>
              </div>
              <div class="form-group">
                <label for="maintain-address" class="col-sm-2 control-label">地址<span class="importent">*</span></label>
                <div class="col-sm-10">
                  <textarea id="maintain-address" class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label for="maintain-need" class="col-sm-2 control-label">特殊需求</label>
                <div class="col-sm-10">
                  <textarea id="maintain-need" class="form-control" rows="2"></textarea>
                </div>
              </div>
              <div class="over-right">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    使用账号余额：￥<span>0.00</span>
                  </label>
                </div>
                <div class="real-money">实付金额：￥<span>0.00</span></div>
                <button class="btn btn-warning">提交订单</button>
              </div>
            </form>  
          </div>
          <div role="tabpanel" class="tab-pane" id="recyc">
            <div class="page-header">
              <h2>废物回收<small>——变废为宝，为环保贡献力量</small></h2>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
  <div class="bottom-flower">
  </div>
</div>
{% endblock %}
{% block footer %}
  {% parent %}
  {% block script %}
    {% parent %}
    <script type="text/javascript" src="js/vendor/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/vendor/datepicker.js"></script>
    <script type="text/javascript">
      $(function(){
        var id = window.location.href.split('#').pop();
        $.ajax({
          url:'http://127.0.0.1:8081/service',
          post:"GET",
          success:function(data){
            for (var i=0,len=data.data.length;i<len;i++){
              $('<li role="presentation" class="'+(i==id?'left-nav-active active':'left-nav')+'"><a href="#service'+data.data[i].id+'" role="tab" data-toggle="tab">'+data.data[i].name+'</a></li>').appendTo($('ul.left-nav-tabs'));
            }  
          },
          error:function(data){
            console.log("error");
          }
        });
        $.ajax({
          url:'http://127.0.0.1:8081/service?method=query',
          post:"POST",
          
        });
      })
    </script>
  {% endblock %}
{% endblock %}
