{% extends 'layout.html' %}

{% block title %}ziroom | 订单详情{% endblock %}
{% block link %}
{% parent %}
<link rel="stylesheet" type="text/css" href="css/zone.css">
<link rel="stylesheet" type="text/css" href="third-party/upload_img/cropper/cropper.min.css">
<link rel="stylesheet" type="text/css" href="third-party/upload_img/sitelogo/sitelogo.css">
<link rel="stylesheet" type="text/css" href="css/vendor/bootstrap-datepicker3.css">
{% endblock %}
{% block header %}
<div class="default-nav">
  {% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-default">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
          <img src="images/logo-orange.png" alt="ziroom">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-default">
        <ul class="nav navbar-nav navbar-right">
          <li class="signin" data-toggle="modal" data-target="#sigin">注册</li>
          <li class="login" data-toggle="modal" data-target="#login">登录</li>
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
</div>
{% endblock %}



{% block content %}

<div class="content clearfix">
  <div class="cloud">
    <img src="images/cloud1.png" class="cloud1">
    <img src="images/cloud2.png" class="cloud2">
    <img src="images/cloud3.png" class="cloud3">
  </div>
  <div class="main-container container-fluid">
    <div class="bread-nav">
      <a href="zone" class="bread-nav-item bread-nav-first">我的订单</a><em></em>
      <a class="bread-nav-item bread-nav-second">正在进行中的订单</a><em></em>
      <a href="javascript:;" class="bread-nav-item-active">马桶维修</a>
    </div>
    <div class="container-fluid order-state-wrap">
      <div class="row-fluid order-state clearfix">
        <section class="notice">
          （提示：点击下列按钮，可更改订单状态）
        </section>
        <div class="circle-icon circle-icon-active" id="take_order"></div>
        <div class="line-icon line-icon-active"></div>
        <div class="circle-icon" id="accepted"></div>
        <div class="line-icon"></div>
        <div class="circle-icon" id="ongoing"></div>
        <div class="line-icon"></div>
        <div class="circle-icon" id="order_finished"></div>
      </div>
      <div class="row-fluid clearfix service-person-info">
        <div class="col-lg-3 service-info-left">
          <img src="images/service_person.png" class="service-person-img">
          <div class="service-person-indetail">
            <section class="customer-name">客户：姚小瑶</section>
            <section class="service-tel">
              联系电话：18612345678
            </section>
          </div>
          
        </div>
        <div class="col-lg-8 service-info-right">
          <section class="detail-book-time">预约时间：2016.04.11 9:00-18:00</section>
          <section class="detail-finish-time">完成时间：2016.04.11 12:35</section>
          <section class="detail-service-address">服务地址：北京市朝阳区芍药居**号院**号楼**单元***室</section>
          <section class="detail-order-num">订单号：mtwx2016041111</section>
          <!-- <section class="detail-receive-people">验收人：马小跳</section> -->
          <!-- <section class="detail-customer-phone">联系电话：</section> -->
          <!-- 已完成订单待评价 -->
          <!-- <section style="display:none;" class="to-evaluate">评价：
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <button type="submit" class="evaluate-btn">评价</button>
          </section> -->
          <!-- 已完成订单已评价 -->
          <section class="evaluated">
            评价：
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <span class="star-icon"></span>
            <!-- <input type="button" class="evaluated-btn" value="已评价" disabled> -->
          </section>
          <section class="clearfix">
            <section for="comment_text" class="comment-title-wrap">评论：</section>
            <textarea name="" id="comment_text" cols="60" rows="5" class="comment-text" readonly="readonly"></textarea>
          </section>
          <section class="clearfix">
            <section for="additional_comment_text" class="comment-title-wrap">追加评论：</section>
            <textarea name="" id="additional_comment_text" cols="60" rows="5" class="additional-comment-text" readonly="readonly"></textarea>
          </section>
         <!--  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" style="float:right">
           修改信息
          </button> -->

        </div>
      </div>
    </div>
  </div>
  <div class="bottom-flower">
  </div>
 </div>
 <!-- Modal -->
  <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">更改订单</h4>
        </div>
        <div class="modal-body">
         <div class="form-group">
         <section class="clearfix" style="margin-top:10px;">
           <label for="service-data" class="control-label">上门服务日期</label>
           <input id="service-data" data-date-format="yyyy-mm-dd" class="form-control" type="text"/>
         </section>
         <section class="clearfix" style="margin-top:10px;">
            <label for="service-time" class="control-label">上门服务时间</label>
            <select id="service-time" class="form-control col-sm-8">
              <option>上午 (09:00-12:00)</option>
              <option>下午 (14:00-17:00)</option>
              <option>晚上 (18:00-20:00)</option>
            </select>
         </section>
         <section class="clearfix" style="margin-top:10px;">
           <label for="modal_service_addr">服务地址：</label>
           <input type="text" class="form-control" id="modal_service_addr">
         </section>
         <section>
           <label for="#modal_service_customer">验收人：</label>
           <input type="text" class="form-control" id="modal_service_customer">
         </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="save_orderchanges">保存</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          
        </div>
      </div>
    </div>
  </div> -->
{% endblock %}
{% block footer %}
  {% parent %}
  {% block script%}
    {% parent %}
    <script type="text/javascript" src="third-party/upload_img/cropper/cropper.min.js"></script>
    <script type="text/javascript" src="third-party/upload_img/sitelogo/sitelogo.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="js/vendor/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="js/vendor/datepicker.js"></script>
    <script type="text/javascript" src="js/zone.js"></script>
    <script>
      $(function(){
        var url=window.location.href;
        var urlarr=url.split("#");
        var orderStatus=parseInt(urlarr[2]);
        var orderId=parseInt(urlarr[1]);
        var token=$.cookie("key");
        // console.log(token);
        function initialOrderDetail(){
          // console.log("orderstatus:",orderStatus);
          //先判断状态 start 
          var allLineIcon=$(".line-icon");
          var allCircleIcon=$(".circle-icon");
          allCircleIcon.removeClass("circle-icon-active");
          var circleLength=allCircleIcon.length;
          var lineLength=allLineIcon.length;
          // console.log(lineLength);
          if(orderStatus>2){
            $(".notice").css("display","block");
            for(var i=0;i<lineLength;i++){
              allLineIcon.eq(i).addClass("line-icon-active");
            }
          }else{
            allLineIcon.removeClass("line-icon-active");
            for(var j=0;j<orderStatus;j++){
               allLineIcon.eq(j).addClass("line-icon-active");
            }
          }
          for(var a=0;a<orderStatus;a++){
            allCircleIcon.eq(a).addClass("circle-icon-active");
          }
          if(orderStatus<4){
            $(".bread-nav-second").html("正在进行中的订单");
          }
          orderStatus==1 ? $(".service-info-left").css("display","none") : $(".service-info-left").css("display","block");
          //先判断状态 end
          //请求订单详情 start
          var token=$.cookie("key");
          $.ajax({
              url:"http://127.0.0.1:8081/order",
              type:"post",
              data:{
                "method":"query",
                "order_id":orderId,
                "token":token
              },
              success:function(data){
                console.log("all:",data);
                // 填充数据
                $(".bread-nav-item-active").html(data.data[0].service_id.name);
                $(".customer-name").html("客户："+data.data[0].user_id.name);
                $(".service-tel").html("联系电话："+data.data[0].user_id.phone);
                $(".detail-book-time").html("预约时间："+data.data[0].book_time);
                // $("#service-data").value(data.data[0].book_time);
                $(".detail-finish-time").html("完成时间："+data.data[0].finish_time);
                // console.log(data.data[0].service_address);
                $(".detail-service-address").html("服务地址："+data.data[0].service_address);
                $("#modal_service_addr").val(data.data[0].service_address);

                //评价框 数据填充
                // $(".comment-text").text(data.data[0].comment_id.comment);
                // $(".additional-comment-text").text(data.data[0].additional_comment);
                



                // $(".detail-receive-people").html("验收人："+$.cookie("uname"));
                // $("#modal_service_customer").val($.cookie("uname"));
                if(data.data[0].status=="4"){
                  var evaluatedScore=parseInt(data.data[0].comment_id.score);
                  console.log("evaluatedScore",evaluatedScore);
                  var evaluatedComment=data.data[0].comment_id.comment;
                  var evaluatedAdditionalComment=data.data[0].comment_id.additional_comment;
                  var allevaluated=$(".evaluated span");
                  var alllength=allevaluated.length;
                  for(var s=0;s<evaluatedScore;s++){
                    allevaluated.eq(s).addClass("star-icon-active");
                  }
                  for(var a=evaluatedScore;a<alllength;a++){
                    allevaluated.eq(a).addClass("start-icon");
                  }
                  // if(evaluatedComment)
                }
              }
          });        
          //请求订单详情 end
        }
        initialOrderDetail();
        $(".bread-nav-second").on("click",function(){
          window.location.href="workerZone#my_orders";
        });

        //更改订单状态 start
        function changeStatus(status){
          var changeDate=new Date().Format("yyyy-MM-dd hh:mm:ss");
          if(status==4){
            var parameter={
              "status":status,
              "finish_time":changeDate
            }
          }else{
            var parameter={
              "status":status
            }
          }
          $.ajax({
            url:"http://127.0.0.1:8081/order",
            type:"post",
            data:{
              "method":"update",
              "token":token,
              "data":JSON.stringify([{
                [orderId]:parameter
              }])
            },
            success:function(data){
              data.result ? alert("修改状态成功！"):alert("修改状态失败！");
            }
          });

        }
        $("#ongoing").on("click",function(){
          if(orderStatus<3){
            var status=3;
            changeStatus(status);
            $(".circle-icon").eq(2).addClass("circle-icon-active");
            $(".line-icon").eq(2).addClass("line-icon-active");
          }else if(orderStatus==3){
            alert("订单已为‘进行中’状态");
          }else{
            alert("订单为‘已完成’状态，不可更改");
          }
          
        });
        $("#order_finished").on("click",function(){
          if(orderStatus<4){
            var status=4;
            if($(".circle-icon").eq(2).hasClass("circle-icon-active")){
              changeStatus(status);
              $(".circle-icon").eq(3).addClass("circle-icon-active");
            }else{
              alert("请先点击“进行中”按钮！");
            }
          }else{
            alert("订单已为‘已完成’状态");
          }
          
        });




        
        //更改订单状态 end






        //评价按钮 start
        // $(".evaluate-btn").on("click",function(){
        //   var allactive=$(".to-evaluate .star-icon-active");
        //   var score=allactive.length;
        //   console.log(score);
        //   $.ajax({
        //     url:"http://127.0.0.1:8081/order",
        //     type:"post",
        //     data:{
        //       "method":"update",
        //       "token":token,
        //       "data":JSON.stringify([{
        //         [orderId]:{
        //           "comment":score
        //         }
        //       }])
        //     },
        //     success:function(data){
        //       if(data.result){
        //         alert("评价成功");
        //         location.reload(true);
        //       }
        //     }
        //   });
        // });
        //评价按钮 end
        
        
        //保存修改 start
        // $("#save_orderchanges").on("click",function(){
        //   var serviceTime=$("#service-data").val() + $("#service-time").val();
        //   console.log(serviceTime);
        //   var serviceAddr=$("#modal_service_addr").val();
        //   console.log(serviceAddr);
        //   $.ajax({
        //     url:"http://127.0.0.1:8081/order",
        //     type:"post",
        //     data:{
        //       "method":"update",
        //       "token":token,
        //       "data":JSON.stringify([{
        //         [orderId]:{
        //           // "order_id":orderId,
        //           "service_address":serviceAddr,
        //           "book_time":serviceTime
        //         }

               
        //       }])
        //     },
        //     success:function(data){
        //       // $("#myModal").css("display","none");
        //       data.result ? alert("更改订单成功！"):alert("更改订单失败");
        //       location.reload(true);
        //     }
        //   })
        // });
        //保存修改 end
        //日期格式化函数 start
        // Date.prototype.Format = function (fmt) { //author: meizz 
        //   var o = {
        //       "M+": this.getMonth() + 1, //月份 
        //       "d+": this.getDate(), //日 
        //       "h+": this.getHours(), //小时 
        //       "m+": this.getMinutes(), //分 
        //       "s+": this.getSeconds(), //秒 
        //       "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
        //       "S": this.getMilliseconds() //毫秒 
        //   };
        //   if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        //   for (var k in o)
        //   if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
        //   return fmt;
        // }

        // $('#service-data').val(new Date().Format("yyyy-MM-dd"));

        //日期格式化函数 end
      });
    </script>
  {% endblock %}
{% endblock%}