.main-container{
	width:95%;
	min-width: 1000px;
	padding:25px 0 20px 0;
}
.sidebar{
	padding-left: 0;
}
.tab-content{
	position: relative;
}
.tab-content button.add{
	position: absolute;
	top:0px;
	left:140px;
}
table tbody tr td button{
	margin: 5px;
}
.enable{
	color:#449A44;
}
#orders .tab-content{
	margin-top: 10px;
}