*{
	margin:0;
	padding: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: table;
  clear: both;
  content: " ";
}
body {
  margin:0;
  padding:0;
  background:#EDEFED;
  font: 14px "微软雅黑", Helvetica, Arial, sans-serif;
}
nav.navbar{
	z-index:99;
}
.navbar-right li{
	padding:0 15px;
	line-height: 60px;
	font-size: 14px;
	background-color:rgba(0,0,0,0);
	cursor: pointer;
}
.input-group{
	padding-bottom: 30px;
	width:100%;
}
.input-group .correct{
	color:#6AC62E;
}
.input-group .correct{
	color:#FFA500;
}
.input-group-addon{
	width:80px;
}
#login .btn,#sigin .btn{
	width: 100%;
	text-align: center;
}
footer.footer{
	padding: 50px 0;
	height:300px;
	background-image: url('../images/footer.png');
	background-color:#2b2d2e;
	color:#fff;
}
.contact{
	margin-top:10px;
}
.contact p{
	margin:0;
}
.footer-container{
	margin: 0 auto;
}
.info h3,.find h3{
	font-size: 18px;
}
.info ul,.find ul{
	list-style: none;
	padding-left: 0;
}
@media(min-width:1100px){
	.footer-container{
		width:1045px;
	}
	.main-container{
		width:1045px;
	}
}
@media(min-width:768px)and (max-width:1099px){
	.footer-container{
		width:745px;
	}
	.main-container{
		width:745px;
	}
}
#content{
	margin:25px 0;
}
.main-container{
	min-height:500px;
	box-sizing: border-box;
	padding:25px;
	box-shadow: 2px 2px 2px #DDD;
	background: #fff;
	margin-bottom:20px;
}



/*reset bootstrap  start*/

/*左侧导航栏 start*/
.left-nav-tabs{
	border-bottom: transparent;
	position: relative;
	right: -18px;
	z-index: 22;
	margin-right: 0;
}
.right-tab-content{
	border:1px solid #dddddd;
}
.nav-tabs > li.left-nav-active > a.link, 
.nav-tabs > li.left-nav-active > a:hover,
.nav-tabs > li.left-nav-active > a:focus,
.nav-tabs > li.left-nav-active > a:active,
.nav-tabs > li.left-nav-active > a {
    color: #ffffff;
    background-color: #FFA000;
    border: 1px solid #dddddd;
    border-right-color: #ffffff;
    cursor: default;
}
.nav-tabs > li.left-nav > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav > li.left-nav > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color:#FFA000;
    width: 100%;
}
/*左侧导航栏 end*/
/*右侧导航栏 start*/
.right-tab-content{
	height:500px;
}




/*右侧导航栏end*/
/*reset bootstrap end*/
/*=======
	color:#565A5C;
}
>>>>>>> 1528f659913fa58db6b2966d57fc0c21bb654f5a
*/